extends layout

block content
  header
    h1(href="/") QUIZ IT
    h2 #{quiz_name}
    h3 Średni czas odpowiedzi to #{quiz_avg}
  main
    section#start
      a(href="/q/" + quiz_id) Przejdź do quizu
    section#scoreboard
      table
        tr
          th Data
          th Kto
          th Punkty
          th Średni czas odpowiedzi
        each row in scoreboard_rows
          tr
            th= row.date
            th= row.user
            th= row.points
            th= row.time
